<div class="explanation">
<p><%= I18n.t('explanation_line1') %></p>
<p><%= I18n.t('explanation_line2') %></p>
<p><%= I18n.t('explanation_line3') %></p>
</div>


<div class="adminSelection">
  <div class="currentSelection">
    <%= I18n.t('current_selection') %> : <% for p in @selection do %>
      <%= p.project_id %>,
    <% end %>
  </div>

  <%= form_tag do %>
    <%= label_tag(:add, I18n.t('add')) %>
    <%= text_field_tag(:add) %>
    <%= submit_tag("Ok") %>
  <% end %>

  <%= form_tag do %>
    <%= label_tag(:remove, I18n.t('remove')) %>
    <%= text_field_tag(:remove) %>
    <%= submit_tag("Ok") %>
  <% end %>
</div>