<li>
  <%= image_tag user.avatar.url(:thumb)  %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && current_user != user %>
  <span> ---- </span>
    <%= link_to I18n.t('delete_user'), user, method: :delete,
                                  data: { confirm: I18n.t('are_you_sure') } %>
                                  <span> - </span>
    <% if user.admin? %>
      <%= link_to I18n.t('remove_admin'), {:controller => "users", :action => "removeAdmin", :id => user.id } %>
    <% else %>
      <%= link_to I18n.t('add_admin'), {:controller => "users", :action => "addAdmin", :id => user.id } %>
    <% end %>
  <% end %>
</li>