
<li class="col-sm-4">
  <div class="projectResume">

    <div class="projectResumeImage">
      <%= image_tag @project.mainpicture.url(:thumb) %>
      <div class="projectResumeTitle">
        <span><%= @project.title %></span>
      </div>
    </div>

    <div class="projectResumeText">
      <div class="projectResumePresentation">
        <%= @project.presentation %>
      </div>
    </div>

    <div class="projectResumeInfo">
      <div class="objective">
        <p class="sub"><%= @project.amount %>$</p>
        <p>sur <%= @project.objective %>$</p>
      </div>
       <div class="remaining">
        <p class="sub"><%= 0 %></p>
        <p >Jours restant </p>
      </div>
    </div>

  </div>
</li>
