<% provide(:title, "Projets") %>

<h1>Tous les projets</h1>



<div id="projects" >
  

  <%= form_for_filterrific @filterrific do |f| %>
    <div class="filterrific">
      Search
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query
      ) %>
    </div>
    <div class="filterrific">
    <%# Current <%= f.check_box :with_not_expired %> 
    </div>
    <div class="filterrific">
      Category
      <%= f.select(
        :with_category,
        @filterrific.select_options[:with_category],
        { include_blank: '- Any -' }
      ) %>
    </div>
    <%= f.submit 'Filter' %>

    <div class="filterrific">
      <%= link_to(
        'Reset filters',
        reset_filterrific_url,
      ) %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  <% end %>

  <%= render @projects  %>
  
</div>


<div id="infinite-scrolling" class="center ">
  <%= will_paginate inner_window: 2, outter_window: 1 %>
</div>

