<% provide(:title, "Projets") %>

<h1><%= I18n.t('all_projects')%></h1>

<div id="projects" >
  <%= form_for_filterrific @filterrific do |f| %>
    <div class="filterrific">
      <%= I18n.t('search')%>
      <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
      <%= f.text_field(
        :search_query
      ) %>
    </div>
    <div class="filterrific">
       <%= I18n.t('current_projects')%> <%= f.check_box :with_not_expired %> 
    </div>
    <div class="filterrific">
      <%= I18n.t('project_category')%>
      <%= f.select(
        :with_category,
        @filterrific.select_options[:with_category],
        { include_blank: '- Any -' }
      ) %>
    </div>
    <%= f.submit I18n.t('filter') %>

    <div class="filterrific">
      <%= link_to(
        I18n.t('reset_filters'),
        reset_filterrific_url,
      ) %>
    </div>
    <%# add an automated spinner to your form when the list is refreshed %>
    <%= render_filterrific_spinner %>
  <% end %>

  <%= render @projects  %>
</div>


<div id="infinite-scrolling" class="center ">
  <%= will_paginate inner_window: 2, outter_window: 1 %>
</div>

