<% provide(:title, @project.title) %>
<div class="projectShow">

  <div class="projectTitle">
    <h1><%= @project.title %></h1>
  </div>

  <div class="presentation">
    <div class="projectPicture">
      <%= image_tag @project.mainpicture.url(:medium) %>
    </div>

    <div class="aside">
      <div class="asideElement">
        <p class="sub amount"><%= @project.amount %>€</p>
        <p>sur <%= @project.objective %>€</p>
      </div>

      <div class="asideElement">
        <p class="sub contributors"><%= @contributors %></p>
        <p >Contributeurs</p>
      </div>

      <% if @remainingtime>0 %>
        <div class="asideElement">
          <p class="sub remainingDays"><%= @remainingtime %></p>
          <p >Jours restant sur <%= @project.timelimit %> </p>
        </div>


        <% if current_user %>
          <%= form_for(@project.donations.build, remote: true) do |f| %>
            <%= f.hidden_field :project_id %>
            <div class="field">
              <%= f.number_field :amount, placeholder: "Montant" %>
            </div>
            <%= f.submit "Contribuer", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <div class="asideElement">
          <div class="connect"><%= button_to("Se connecter", new_user_session_path, class: "btn btn-primary",:method => :get) %> </div>
          </div>
        <% end %>
      <% else %>
        <div class="asideElement">
        <p class="sub finished">Terminé</p>
        </div>
      <% end %>

    </div>
  </div>
  <span><%= @project.category %></span>

  <div class="projectPresentation">
   <p class="subTitle">Presentation</p>
   <div><%= @project.presentation %></div>
  </div>

  <div class="projectDescription">
    <p class="subTitle">Description</p>
    <div><%= markdown(@project.description) %> </div>
  </div>
  
</div>
<br><br>

<% if current_user == @project.user || current_user.admin? %>
  <p><%= link_to "Editer le projet", edit_project_path %></p>
<% end %>

<% if current_user.admin? %>
<%= link_to "Delete", @project, method: :delete,
                                  data: { confirm: "You sure?" } %>
<% end %>

<br><br>


<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'gimmeplz';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
