<% provide(:title, @project.title) %>
<div class="projectShow">

  <div class="projectTitle">
    <h1><%= @project.title %></h1>
  </div>

  <div class="presentation">
    <div class="projectPicture">
      <%= picture_for_project @project, size: 1000 %>
    </div>

    <div class="aside">
      <div class="asideElement">
        <p class="sub"><%= 0 %>$</p>
        <p>sur <%= @project.objective %>$</p>
      </div>

      <div class="asideElement">
        <p class="sub"><%= 0 %></p>
        <p >Contributeurs</p>
      </div>

      <div class="asideElement">
        <p class="sub"><%= 0 %></p>
        <p >Jours restant </p>
      </div>

      <button class="asideElement">Contribuer</button>
    </div>
  </div>

  <div class="projectPresentation">
   <p class="subTitle">Presentation</p>
   <div><%= @project.presentation %></div>
  </div>

  <div class="projectDescription">
    <p class="subTitle">Description</p>
    <div><%= markdown(@project.description) %> </div>
  </div>
  
</div>

<% if current_user == @project.user %>
  <p><%= link_to "Editer le projet", edit_project_path %></p>
<% end %>
