<% provide(:title, @project.title) %>
<div class="projectShow">

  <div class="projectTitle">
    <h1><%= @project.title %></h1>
  </div>

  <div class="presentation">
    <div class="projectPicture">
      <%= image_tag @project.mainpicture.url(:medium) %>
    </div>

    <div class="aside">
      <div class="asideElement">
        <p class="sub"><%= 0 %>$</p>
        <p>sur <%= @project.objective %>$</p>
      </div>

      <div class="asideElement">
        <p class="sub"><%= 0 %></p>
        <p >Contributeurs</p>
      </div>

      <div class="asideElement">
        <p class="sub"><%= 0 %></p>
        <p >Jours restant </p>
      </div>

      <button class="asideElement">Contribuer</button>
    </div>
  </div>

  <div class="projectPresentation">
   <p class="subTitle">Presentation</p>
   <div><%= @project.presentation %></div>
  </div>

  <div class="projectDescription">
    <p class="subTitle">Description</p>
    <div><%= markdown(@project.description) %> </div>
  </div>
  
</div>
<br><br>

<% if current_user == @project.user %>
  <p><%= link_to "Editer le projet", edit_project_path %></p>
<% end %>

<br><br>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'gimmeplz';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
