<footer class="footer">
  <nav>
    <div class="wrapper">
      <div class="footerDiv">
        <ul>
          <h4><%= I18n.t('about') %></h4>
          <li><%= link_to I18n.t('who_are_we'),   who_path %></li>
          <li><%= link_to I18n.t('the_team'), team_path %></li>
          <li><%= link_to I18n.t('general_conditions'), conditions_path %></li>
        </ul>
      </div>
      <div class="footerDiv">
        <ul>
          <h4><%= I18n.t('help') %></h4>
          <li><%= link_to I18n.t('faq'),   faq_path %></li>
          <li><%= link_to I18n.t('assistance'), assistance_path %></li>
          <li><%= link_to I18n.t('contact'), contact_path %></li>
        </ul>
      </div>
      <div class="footerDiv">
        <ul>
          <h4><%= I18n.t('follow_us') %></h4>
          <li><%= link_to "Facebook", '#' %></li>
          <li><%= link_to "Twitter", '#' %></li>
          <li><%= link_to "Instagram", '#' %></li>
        </ul>
      </div>
      <div class="bottomFooter">
        <h2><span>GIMME $ PLZ</span></h2>
        <p>Motivated by cupidity</p>
      </div>
    </div>
  </nav>
</footer>