<footer class="footer">
  <nav>
    <div class="wrapper">
      <div class="footerDiv">
        <ul>
          <h4>A propos</h4>
          <li><%= link_to "Qui sommes nous?",   who_path %></li>
          <li><%= link_to "L'équipe", team_path %></li>
          <li><%= link_to "Conditions générales", conditions_path %></li>
        </ul>
      </div>
      <div class="footerDiv">
        <ul>
          <h4>Aide</h4>
          <li><%= link_to "FAQ",   faq_path %></li>
          <li><%= link_to "Assistance", assistance_path %></li>
          <li><%= link_to "Nous contacter", contact_path %></li>
        </ul>
      </div>
      <div class="footerDiv">
        <ul>
          <h4>Nous suivre</h4>
          <li><%= link_to "Facebook", '#' %></li>
          <li><%= link_to "Twitter", '#' %></li>
          <li><%= link_to "Instagram", '#' %></li>
        </ul>
      </div>
      <div class="bottomFooter">
        <h2><span>GIMME $ PLZ</span></h2>
        <p>Motivated by cupidity</p>
      </div>
    </div>
  </nav>
</footer>